@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #F3F5FC;
}

.logo {
    padding: 40px;
}

.container {
    padding: 2% 0% 0% 15%;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.container__esquerda {
    width: 60%;
    padding-top: 40px;
}

.container__direita {
    width: 40%;
    height: 680px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.521);
    border-radius: 32px;
    margin: 40px;
    padding: 25px;
}

.container__txt {
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
    padding: 32px;
    gap: 16px;
}

.container__txt__entrada::placeholder {
    color: #0A3871;
}

.container__txt__entrada {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    background-color: #F3F5FC;
    border-radius: 4px;
    width: 100%;
    height: 700px;
    padding: 10px;
    border: none;
    resize: none;
}

.container__txt__saida {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    border-color: white;
    border-radius: 4px;
    width: 25%;
    height: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    display: none;
}

.container__imagem {
    display: flex;
}

.retangulo {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 944px;
    border-radius: 32px;
    border: 2px solid black;
    background-color: #868E96;
}

.retangulo__titulo {
    width: 75%;
    padding-left: 80px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #343a40;
    font-size: 24px;
    margin-bottom: 16px;
}

.retangulo__txt {
    width: 75%;
    padding-left: 80px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.imagem {
    margin: 150px 32px 0 32px;
}

.container__buttons {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.container__button__cri,
.container__button__des {
    width: 45%;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    padding: 24px;
    border-radius: 24px;
}

.container__button__cri {
    background-color: #0A3871;
    color: white;
}

.container__button__des {
    background-color: #d8dfe8;
    color: #0A3871;
}

.container__button__copiar {
    background-color: #0A3871;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    padding: 24px;
    border-radius: 24px;
    width: 100%;
    margin-top: 20px;
}

.texto-criptografado p {
    overflow: auto;
}

.sem-retorno img {
    margin: 150px 32px 0 32px;
}

.titulo-sem-retorno {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #6c757d;
    margin: 32px 32px 32px 16px;
}

.resultado {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #adb5bd;
}

.sem-retorno {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #adb5bd;
}

.texto-criptografado {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.texto-criptografado p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    text-align: left;
    color: #adb5bd;
}

.d-none {
    display: none;
    pointer-events: none;
}

/* Media Queries */
/* Para telas de até 768px */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 2% 5%;
    }

    .container__direita {
        margin: 40px auto;
    }

    .container__buttons {
        flex-direction: column;
    }

    .container__button__cri,
    .container__button__des {
        width: 100%;
    }

    .retangulo {
        width: 100%;
    }
}

/* Para telas de até 480px */
@media screen and (max-width: 480px) {
    .container {
        padding: 2%;
    }

    .container__direita {
        margin: 20px auto;
        padding: 20px;
    }

    .container__txt__entrada {
        font-size: 24px;
        height: 300px;
    }

    .retangulo {
        width: 100%;
        padding-left: 20px;
    }

    .imagem {
        margin: 50px 16px 0 16px;
    }

    .container__button__cri,
    .container__button__des {
        width: 100%;
        font-size: 14px;
        padding: 16px;
    }
}